/* In the wishlist page */

.greenbox {
background-color: white;
width: 200px;
height: 220px;
border-color: #044723;
margin-left: 400px;
margin-top: 115px;
border-width: 2px;
border-style: solid;
}
.greenbox h3,h6{ 
	line-height: 0.4em;
	margin-left: 20px;
}

.greenbox h4 {
	font-size: 9px;
	font-weight: normal;
	color: #919191;
	margin-left: 20px;
}

.greenbox h6 {
	color:#044723;
	font-size: 10px;
	margin-left: 20px;
	
}

.greenbox h1 {
	background-color:#044723;
	position: middle;
	font-family: 'Fjalla One', sans-serif;
	font-size: 19px;
	color: white;
	font-weight: normal;
	border-radius: 6px;
	width: 160px;
	height: 30px;
	margin-right: 20px;
	margin-left: 20px;
	text-align: center;
}

.greenbox h5 {
	background-color:#C5D9C0;
	font-family: 'Fjalla One', sans-serif;
	font-size: 15px;
	font-weight: normal;
	border-radius: 6px;
	margin-right: 20px;
	margin-left: 20px;
	text-align: center;
}

/* For the sneakers page */

.box-green {
	background-color: #C5D9C0;
	border-color: #044723;
	padding: 10px;
	padding-top: -10px;
	border-radius: 2px;
	margin: 30px;
	text-align: left;
	margin-right: 900px;
	border-width: 40px;
	width: 220px;
	position: absolute;
	margin-top: 150px;

}

/* For the product page */ 

.basket {
	padding: 20 px;
	display: flex;
	align-items: center;
	border-radius: 6px;
	width: 600px;
	height: 370px;
	margin-top: 20px;
	position: absolute;
	background: none;
}

.basket img {
		border-radius: 6px;
		width: 350px;
		height: 200px;
		border-color: #C5D9C0;
		border-width: 2px;
		border-style: solid;
}


.basket h2 {
font-size: 24px;
}

.basket h1 {
margin-right: 500px;
}

.basket h6 {
	text-align: justify;
	margin-left: 40px;
}

.basket h1,h2,h3,h6 {
margin-left: 40px;
margin-top: 0px;
}


.green-box {
background-color: white;
width: 300px;
height: 280px;
border-color: #044723;
margin-left: 800px;
border-width: 2px;
border-style: solid;
text-align: right;
margin-top: 60px;
padding-top: 40px;
}

.green-box h3,h6,h1, h5 {
	align-items: center;
	text-align: center;
}

.green-box h1 {
	background-color:#044723;
	font-family: 'Fjalla One', sans-serif;
	font-size: 15px;
	color: white;
	font-weight: normal;
	border-radius: 6px;
	text-align: center;
	width: 230px;
	height: 20px;
}

.green-box h5 {
	background-color:#C5D9C0;
	font-family: 'Fjalla One', sans-serif;
	font-weight: normal;
	border-radius: 6px;
	width: 230px;
	height: 20px;
	margin-left: 40px;
	font-size: 15px;
}

.green-box h3 {
margin-right: 40px;
margin-bottom: 10px;
}

.greenbox h6 {

  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  margin: 0px;
  color: lightgrey;
  font-weight: normal;
  margin-bottom: 20px;
}

.green-box h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-align: center;
  color: #044723;
  font-weight: normal;
  margin-top: 10px;
}


/* For the basket page */

.box-white {
	padding: 20 px;
	align-items: center;
	border-radius: 6px;
	width: 350px;
	height: 290px;
	margin: 20px 40px;
	border-color: #C5D9C0;
		border-width: 2px;
		border-style: solid;
	margin-bottom: : 800px;
	margin-left: 900px;
}

.box-white  img {
		border-radius: 6px;
		width: 75px;
		height: 50px;
		border-color: #C5D9C0;
		border-width: 2px;
		border-style: solid;
}
.box-white  h4,h5,h6 {
	
}

.box-title {
	margin-left: 10px;
}

.box-pullblack {
	
	display: flex;
	align-items: center;
	border-radius: 6px;
	width: 260px;
	height: 85px;
	margin: 20px 40px;
	border-color: #C5D9C0;
		border-width: 2px;
		border-style: solid;
}

.box-pullblack  img {		
		width: 75px;
		height: 50px;
		border : none;
}
.box-pullblack   h5 {

}

.box-pullblack h6 {
	padding-bottom: 2px;
	width: 120px;
}

.box-pullblack  h3{
font-size: 20px;
color: #044723;
margin-right: 10px;
}

.box-platinum {
	
	display: flex;
	align-items: center;
	border-radius: 6px;
	width: 260px;
	height: 85px;
	margin: 20px 40px;
	border-color: #C5D9C0;
		border-width: 2px;
		border-style: solid;
}

.box-platinum img {
		width: 75px;
		height: 50px;
		border: none;
}

.box-platinum  h5,h6  {
}


.box-platinum  h3{
font-size: 20px;
color: #044723;
margin-left: 40px;

}


.box-platinum h4{
font-family: 'Fjalla One', sans-serif;
font-size: 20px; 
}

.box-jean {
	display:flex;
	align-items:left;
	justify-content: space-between;
	padding:20px;
	width: 750px;
	position: absolute;
	margin-top: 250px;
	
}

.box-jean img {
	width: 150px;
	 border-color: #C5D9C0;
		border-width: 2px;
		border-style: solid;
}

.box-jean  h4{
color: #044723;
font-family: 'Fjalla One', sans-serif;
font-size: 30px; 
}

.box-green {
	background-color: #C5D9C0;
	text-align: center;
	padding: 20px;
	padding-top: -10px;
	border-radius: 2px;
	width: 310px;
	height: 150px;
	margin: 10px;
	border-width: 60px;
	z-index: 1;
	margin-bottom: : 900px;
	margin-left: 900px;
	border-color: black;
		border-width: 2px;
		border-style: solid;
}

.box-black {
	display:flex;
	align-items:left;
	justify-content: space-between;
	padding:20px;
	width: 750px;
	position: absolute;
	
}

.box-black img {
	width: 150px;
    border-color: #C5D9C0;
		border-width: 2px;
		border-style: solid;

}

.box-black  h4{
font-size: 30px;
color: #044723;
font-family: 'Fjalla One', sans-serif;
font-size: 30px; 
}