/* For the homepage */

.container {
	width: 1200px;
	margin: 0 auto;
}

.container p {
  text-align: justify;
  color: #044723;
}

/* For the About Us page */

.container-aboutus {
	background-color: #C5D9C0;
	padding: 50px;
	padding-top: 10px;
	margin: 20px;
	text-align: center;
	margin-right: 20px;
	border-width: 60px;
}

/* For the sneakers page */

.list-inline2 {

    margin-top: 60px;
    margin-left: 60px;
  

}
.list-inline2 i {
	font-size: 30px;
	color: white;
}

.list-inline2 i:hover {
	font-size: 30px;
	color: #51776c;
}

.list-inline2 {
list-style: none;
padding-left: 0px;
}

.list-inline2 li {
padding: 10px;
}



.price {
margin-left: 200px;
}

.far.fa-heart-green {
color:#044723;
margin-left: 10px;
}

#title {
font-size: 40px;
margin-left: 600px;
}

/* For the product page */ 

.basket {
	padding: 20 px;
	display: flex;
	align-items: center;
	border-radius: 6px;
	width: 600px;
	height: 370px;
	margin-top: 20px;
	position: absolute;
	background: none;
}

.basket img {
		border-radius: 6px;
		width: 350px;
		height: 200px;
		border-color: #C5D9C0;
		border-width: 2px;
		border-style: solid;
}


.basket h2 {
font-size: 24px;
}

.basket h1 {
margin-right: 500px;
}

.basket h6 {
	text-align: justify;
	margin-left: 40px;
}

.basket h1,h2,h3,h6 {
margin-left: 40px;
margin-top: 0px;
}
